<h1>{{ user.name }}</h1>
<br>
<a
    ng-show="user.key"
    class="btn btn-primary" href="/c/{{ user.key }}"
    target="_blank"
><i class="fa fa-eye"></i> View User</a>
<br>
<br>
<ul class="nav nav-tabs">
    <li
        ng-repeat="t in tabs"
        ng-class="{ 'active': t == tab }"
        ng-click="selectTab(t)"
        class="cursor-pointer"
    ><a>{{ t }}</a></li>
</ul>
<div class="row">
    <div class="col-6">
        <img ng-show="loading" src="/img/loading.gif">
        <div ng-show="!loading">
            <div ng-show="tab == 'Basic'">
                <h2>Basic</h2>
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" ng-blur="patch('name', user.name)" ng-model="user.name">
                </div>
                <div class="form-group">
                    <label>Tagline</label>
                    <input type="text" class="form-control" ng-blur="patch('tagline', user.tagline)" ng-model="user.tagline">
                </div>
                <div class="form-group">
                    <label>Path</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ app_url }}/</span>
                        <input type="text" class="form-control" ng-blur="patch('key', user.key)" ng-model="user.key">
                    </div>
                </div>
            </div>
            <div ng-show="tab == 'Top Section'">
                <h2>Top Section</h2>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('description', user.description)" ng-model="user.description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in user.bullets"
                    class="form-group"
                >
                    <label>Bullet {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'bullets', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('bullets')"
                    >
                        <i class="fa fa-plus"></i> Add Bullet Point
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Services'">
                <h2>Services</h2>
                <div class="form-group">
                    <label>Serivces Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('services_description', user.services_description)" ng-model="user.services_description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in user.services"
                    class="form-group"
                >
                    <label>Service {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'services', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('services')"
                    >
                        <i class="fa fa-plus"></i> Add Service
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Hours'">
                <h2>Hours</h2>
                <div class="form-group">
                    <label>Hours Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('hours_description', user.hours_description)" ng-model="user.hours_description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in user.hours"
                    class="form-group"
                >
                    <label>Hours {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'hours', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('hours')"
                    >
                        <i class="fa fa-plus"></i> Add Hours
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Images'">
                <h2>Images</h2>
                <div cl-media></div>
            </div>
            <div ng-show="tab == 'Contact'">
                <h2>Contact</h2>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" ng-blur="patch('phone', user.phone)" ng-model="user.phone">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-blur="patch('email', user.email)" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label>Address Line 1</label>
                    <input type="text" class="form-control" ng-blur="patch('address_1', user.address_1)" ng-model="user.address_1">
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" ng-blur="patch('address_2', user.address_2)" ng-model="user.address_2">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" ng-blur="patch('city', user.city)" ng-model="user.city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" ng-blur="patch('state', user.state)" ng-model="user.state">
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" class="form-control" ng-blur="patch('zip', user.zip)" ng-model="user.zip">
                </div>
            </div>
        </div>
    </div>
</div>
