<div class="form-group">
    <div class="form-group">
        <button
            class="btn btn-primary"
            ng-click="create()"
        >
            <i class="fa fa-plus"></i> Create User
        </button>
    </div>
    <img ng-show="loading" src="/img/loading.gif">
    <table class="table table-striped" ng-show="!loading">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>City</th>
                <th>State</th>
                <th>Date Created</th>
                <th class="align-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td><a href="/app/#/users/{{ user.id }}/edit">{{ user.name }}</a></td>
                <td>{{ user.city }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <i
                        class="fa fa-trash pull-right cursor-pointer"
                        ng-click="deleteUser(user, $index)"
                    ></i>
                </td>
                <!-- <td>{{ user.name }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
