<div class="col col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Payment Methods</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="1">Use</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="method in customer.sources.data">
                    <td class="center">
                        <input
                            id="card-{{ $index }}"
                            type="radio"
                            ng-model="customer.default_source"
                            ng-value="method.id"
                            ng-change="updateObject(
                                'customer',
                                customer.id,
                                'default_source',
                                method.id
                            )"
                        >
                    </td>
                    <td>
                        <label for="card-{{ $index }}">
                             {{ method.brand }} card ending with {{ method.last4 }}<br>
                             Expires on {{ method.exp_month }}/{{ method.exp_year }}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <button class="btn btn-default" ng-click="togglePopup('#paymentMethodForm')">
                <i class="fa fa-plus"></i> Add Payment Method</i>
            </button>
            <div class="popup" id="paymentMethodForm">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Payment Method</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="popup_alert" class="alert alert-danger">{{ popup_alert }}</div>
                        <div class="form-table">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group" id="cc-group">
                                            <img style="width:100px; margin-bottom:5px;" src="http://i76.imgup.net/accepted_c22e0.png">
                                            <input
                                                type="text"
                                                class="form-control"
                                                required="required"
                                                ng-model="number"
                                                data-parsley-type="number"
                                                maxlength="16"
                                                data-parsley-trigger="change focusout"
                                                data-parsley-class-handler="#cc-group"
                                                placeholder="Credit Card Number"
                                            >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="ccv-group">
                                            <i
                                                style="position: relative; bottom: -5px;"
                                                class="fa fa-question-circle pull-right cursor-pointer info"
                                                data-toggle="popover"
                                                data-content="The 3 or 4 digit number usually found on the back or corner of the card."
                                            ></i>
                                            <input
                                                style="position: relative; bottom: -12px;"
                                                type="text"
                                                class="form-control"
                                                required="required"
                                                ng-model="cvc"
                                                data-parsley-type="number"
                                                data-parsley-trigger="change focusout"
                                                maxlength="4"
                                                data-parsley-class-handler="#ccv-group"
                                                placeholder="CVC"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="exp-m-group">
                                            <select
                                                class="form-control"
                                                required="required"
                                                ng-model="expMonth"
                                                placeholder="Exp. Month"
                                            >
                                                <option selected disabled value="">Exp. Month</option>
                                                <option ng-repeat="month in months">{{ month }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="exp-y-group">
                                            <select
                                                class="form-control"
                                                required="required"
                                                ng-model="expYear"
                                                placeholder="Exp Year"
                                            >
                                                <option selected disabled value="">Exp. Year</option>
                                                <option ng-repeat="year in years">{{ year }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="payment-errors" style="color: red;margin-top:10px;"></span>
                                    </div><!-- col -->
                                </div><!-- row -->
                            </div><!-- col -->
                        </div><!-- form-table -->
                    </div>
                    <div class="panel-footer overflow-hidden">
                        <img ng-show="loading_payment_method" src="/img/loading.gif" class="pull-right">
                        <div class="pull-right" ng-show="!loading_payment_method">
                            <button class="btn btn-default" ng-click="togglePopup('#paymentMethodForm')">Cancel</button>
                            <button class="btn btn-primary" ng-click="addPaymentMethod()">Add Payment Method</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- panel -->
</div>
