body { line-height: 1.5em; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: 'Oswald', sans-serif; font-weight: 300; }
h1 { font-size: 5em; line-height: 1em; }
h2 { font-size: 3.5em; line-height: 1em; margin-bottom: .5em; }
h3 { font-size:2em; line-height: 1em; }
input { margin-bottom: 1em; }
li { line-height: 1.5em !important; margin: 1em 0; }
ul.checks li { list-style: none; display: flex; }
ul.checks li > i { color: rgb(58,182,118); position: relative; top: .12em; }

[class^="col-"] { padding: 2.5vw 2.5%; }
[class^="col-"] .row { padding: 0; }
[class^="col-"] .row [class^="col-"]:first-child { padding-left: 0; }
[class^="col-"] .row [class^="col-"]:last-child { padding-right: 0; }
.col-1 { width: 8.33%; }
.col-2 { width: 16.67%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
.color-1 { color: #3AB676; border-color: #3AB676; }
.color-2 { color: #3B7EA6; border-color: #3B7EA6; }
.color-3 { color: #FFB151; border-color: #FFB151; }
.color-4 { color: #FF7B51; border-color: #FF7B51; }
.green-fade { position: relative; max-width: 150px; }
.green-fade img { width: 100%; }
.green-layer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(58,182,118,.5); border-radius: 50%; }
.logo { display: flex; align-items: center; text-align: center; }

/*****************
* Home Sections
******************/

/* hero */
#hero { text-align: center; background: url('/img/home/hero-1.jpg'); background-size: cover; background-position: center; height: 600px; position: relative; }
#hero .content { color: white; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(58,182,118,.85); padding: 5vw 5%; display: flex; justify-content: center; align-items: center; text-shadow: 0 0 10px rgba(0,0,0,.25); }
#hero #types { padding: 0; list-style: none; margin-top: 1em; }
#hero #types li { display: inline-block; padding: 0 1em; border-right: 1px solid white; }
#hero #types li:last-child { border-right: none; }

/* about */
#about { line-height: 2em; display: flex; }
#about > div { width: 50%; padding: 5vw 5%; }
#about #icons > div { text-align: center; }
#about #icons > div > div { display: inline-block; margin: 0 .5em; padding: 1em 0; width: 86px; border-radius: 100%; border: 1px solid white; opacity: .5; }
#about #icons > div > i { opacity: .5; font-size: 25px; position: relative; top: -10px; }
#about #icons > div > div > i { font-size: 25px; }
#about #icons > div > div > div { font-size: 10pt; margin-top: -10px; }
#about #icons { text-align: center; }

#portfolio { padding: 5vw 5%; }

#imgPopup > .panel { max-width: 1000px; }

#pricing { padding: 5vw 5%; }
#additional-services [class^="col-"] { padding: 5vw 5%; }

#ceo { display: flex; }
#ceo > div { width: 50%; padding: 5vw 5%; }

@media (max-width: 1500px) {
    h1 { font-size: 3em; }
    h2 { font-size: 2em; margin-bottom: .5em; }
    h3 { font-size: 1.5em; margin-bottom: .5em; }
}

@media (max-width: 1200px) {
    section { display: block !important; }
    section > div { width: 100% !important; }

	.padding { padding: 30px; }

    #hero { background-position: bottom right; }
    #hero #types { font-size: 10pt; }
    #hero #types li { border: none; padding: 0 .5em; }

    #about #icons > div > div { display: inline-block; margin: 0 .25em; padding: .5em 0; width: 69px; border-radius: 100%; border: 1px solid white; opacity: .5; }
    #about #icons > div > div > i { font-size: 18px; }
    #about #icons > div > div > div { font-size: 9pt; margin-top: -12px; }
    #about #icons > div > i { opacity: .5; font-size: 12.5px; position: relative; top: -5px; }
}

@media (max-width: 1000px) {
	.padding { padding: 40px; }
    .row { display: inherit; }
    [class^="col-"] { width: 100%; }
}

@media (max-width: 800px) {
    footer { padding: 10% 5%; }
    footer nav { display: inherit; }
    footer nav li { display: inline-block; }
    p .pull-left { float: none; display: block; }
    p .pull-right { float: none; display: block; }

	.padding { padding: 6vw 6%; }

    #header { justify-content: space-between; }
    #header .phone { font-size: 10pt; margin: 0 1em; }
    #header .toggle-nav { display: inherit !important; }
    #header nav { display: none; }

    #about { display: inherit !important; }
    #about > div { width: 50%; padding: 10% 5%; }

    #services { display: flex; padding: 5% 2.5%; }
    #services > div { padding: 5% 2.5%; }

    #technologies, #platforms { display: none; }

    #ceo > div { padding: 10% 5%; }
}

@media (max-width: 400px) {
    #header .logo { width: 100%; }
    #header .phone { display: none; }
    #phone-small-screen { display: block; }
    .thumbnails .thumbnail, .thumbnails .thumbnail img { width: 125px; background: none; box-shadow: none; }
}
