html { overflow-x: hidden !important; background: rgb(64,64,64); }
body { margin: 0; font-family: Helvetica, Arial, sans-serif; background: white; }
div, section, article, input, textarea, select, img { box-sizing: border-box; }
dl { display: block; }
dt { display: inline; }
dd { display: inline; margin-right: 1em; }
nav { display: flex; align-items: center; align-items: center; justify-content: center; }
nav li { list-style: none; padding: 0 1em; }
nav a { text-decoration: none; }
header { padding: 2.5vw 5%; }
header nav a { color: white; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Oswald', sans-serif; font-weight: 300; }
p { overflow: hidden; line-height: 1.75em; }
p .pull-left { margin: 0 2em 2em 0; }
p .pull-right { margin: 0 0 2em 2em; }
strong { color: rgb(58,182,118); font-weight: normal; }
input:not(.form-control) { width: 100%; padding: 1em 1.5em; border: 1px solid rgb(192,192,192); }
input[type="file"] { border: none; }
textarea { width: 100%; padding: 1em 1.5em; font-family: Helvetica, Arial, sans-serif; margin-bottom: 1em; }
a { color: rgb(58,182,118); }
footer { padding: 2.5%; text-align: center; color: gray; }
article { overflow: hidden; }
label { font-weight: bold; display: block; }
label input { width: auto !important; }
ol { list-style-type: none; padding-left: 1.25em; counter-reset: li; }
ol > li { position: relative; padding: 5px 0 5px 30px; margin-bottom: 1em; }
ol > li:before { content: counter(li); counter-increment: li; height: 40px; width: 40px; border-radius: 50%; color: white; position: absolute; left: -18px; top: 0; background: rgb(58,182,118); display: flex; align-items: center; justify-content: center; }
ol > li > h2, ol > li > h3 { color: rgb(58,182,118); margin-top: 0; }
ol > li > h2 { margin-bottom: 1em; }
ul { padding-left: 1em; }
/*ul.checks { padding: 0; }
ul.checks li { line-height: 1.5em; margin-bottom: 1em; }
ul.checks li { display: flex; }
ul.checks li::before { color: rgb(255,0,128); margin-right: .5em; content: '✔' }*/
ul.checks li { list-style: none; display: flex; }
ul.checks li > i { color: rgb(58,182,118); position: relative; top: .12em; }

#app-menu { padding: 5vw 5% 0 5%; }
#header { background: rgb(58,182,118); color: white; padding: 1em 2em; display: flex; color: white; position: relative; z-index: 1; box-shadow: 0 0 20px rgba(0,0,0,.18); justify-content: space-between; }
#header .logo { width: 50%; }
#header .logo img { max-width:75px; max-height: 50px; }
#header .phone { width: 250px; text-align: right; display: flex; align-items: center; justify-content: flex-end; }
#nav { display: none; background: rgb(64,64,64); flex-direction: column; padding: 1em 0; }
#nav a { color: white; }
#nav li { padding: .5em 0; }
#copyright { font-size: 10pt; opacity: .5; }
#phone-small-screen { display: none; background: rgb(64,64,64); padding: 1em; color: white; text-align: center; }

/* sizes */
.xxs { width: 100%; max-width: 50px; }
.xs { width: 100%; max-width: 100px; }
.sm { width: 100%; max-width: 200px; }
.md { width: 100%; max-width: 400px; }
.lg { width: 100%; max-width: 800px; }
.xl { width: 100%; max-width: 1200px; }

.active a { font-weight: bold; }
.alert { padding: 1em 1.5em; border: 1px solid; }
.alert ul { padding-left: 1.5em; text-align: left; }
.alert-main-container { position: fixed; bottom: 0; left: 1em; right: 1em; z-index: 100000; }
.alert-main { transform:scaleY(0); box-shadow: 1px 1px 5px rgba(0,0,0,.5); max-width: 600px; margin: 0 auto; overflow: hidden; }
.alert-main > div { float: left; }
.alert.success { background: rgba(0,255,0,.1); border-color: rgba(0,255,0,.3); }
.align-left { text-align: left !important; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.button { border: none; background: #FF7B51;  padding: 1em 2em; text-transform: uppercase; text-decoration: none; cursor: pointer; display: inline-block; color: white; box-shadow: 0 1px 3px rgba(0,0,0,.5); }
.button.white { border-color: white; color: white; }
.button.green { border-color: rgb(58,182,118); color: rgb(58,182,118); }
.button.red { border-color: rgb(255,0,0); color: rgb(255,0,0); }
.btn-primary { background: rgb(58,182,118); border: none; }
.btn-primary:hover { background: rgb(38,162,98) !important; }
.cursor-pointer { cursor: pointer; }
.fa-check { display: block; color: rgb(58,182,118); }
.full-width { width: 100%; }
li .fa-check::before { margin-right: .5em; }
.fadeIn { transition: opacity .5s; opacity: 1 !important; }
.fadeOut { transition: opacity .5s; opacity: 0 !important; }
.flex { display: flex; }
.gray { background: rgb(245,245,245); }
.highlight { background:rgba(255,0,128,.13) !important; }
.iframe { position: relative !important; padding-bottom: 56.25% !important; /* 16:9 */padding-top: 25px !important; height: 0 !important; width: 100% !important; }
.iframe iframe { position: absolute !important; top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important; }
.inline-block { display: inline-block !important; }
.inpt-group { display: flex; margin-bottom: 1em; }
.inpt-group-addon { width: 49px; background: rgb(235,235,235); border: 1px solid rgb(192,192,192); border-right: none; display: flex; justify-content: center; align-items: center; color: black; }
.inverted { color: white; }
.inverted strong { color: white; }
.inverted.gray { background: rgb(64,64,64); }
.inverted.green { background: rgb(58,182,118); }
.justify-center { justify-content: center; }
.loading { width: 25px; height: 25px; }
.logo > img { max-width: 75px; vertical-align: middle; }
.logo { font-family: Oswald; }
.logo, .logo > a { color: white !important; text-decoration: none; }
.margin-top-0 { margin-top: 0; }
.margin-top-1 { margin-top: .25em; }
.margin-top-2 { margin-top: .5em; }
.margin-top-3 { margin-top: .75em; }
.margin-top-4 { margin-top: 1em; }
.margin-auto { margin: 0 auto; }
.padding { padding: 60px; }
.panel { box-shadow: 0 2px 4px rgba(0,0,0,.33); border: none !important; }
.panel .panel-header, .panel .panel-heading { background: rgb(58,182,118); color: white; padding: 1em 1.5em; }
.panel-primary>.panel-heading { border: none !important; }
.panel .panel-header h3 { margin: 0; }
.panel .panel-body { padding: 1em; height: 100%; }
.panel > ul { padding: none !important; margin: 0; }
.panel > ul li:nth-child(even) { background: rgb(245,245,245); }
.panel > ul li { padding: 15px; margin: 0 !important; }
.panel .panel-footer { padding: 1em 1.5em; background: rgb(235,235,235); }
.photo-1 { width: 100%; }
.popup { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.75); overflow: auto; z-index: 1000; }
.popup .panel { background: white; max-width: 600px; margin: 0 auto; }
.popup .panel > img { width: 100%; }
.row { display: flex; /*padding: 0 2.5%;*/ }
.selected { background: rgba(58,182,118, .5); }
.slideUp { transform-origin: bottom; transition: transform .5s; transform:scaleY(1) !important; }
.tiles { padding:0; list-style:none; text-align:center; }
.tiles li { vertical-align:top; display:inline-block; position:relative; margin:0 3px 10px 0; }
.tiles li .tile-highlight { position:absolute; top:0; right:0; bottom:0; left:0; }
.tiles li img { max-width:300px; max-height:150px; cursor:pointer; }
.tiles li .file { padding:30px 10px 10px; cursor:pointer; box-sizing: border-box; width:150px; height:150px; background:white; box-shadow:1px 1px 8px rgba(0,0,0,.2); }
.tiles li .file i { font-size:50px; position:relative; margin-left:-20px; }
.tiles li .file-title { font-size:10pt; max-width:130px; word-wrap:break-word; margin-top:8px; background:rgb(235,235,235); padding:5px 10px; border-radius:4px; display:inline-block; }
.tiles li .options { z-index:1; position:absolute; top:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:right; }
.tiles li .owner { z-index:1; position:absolute; bottom:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:left; }
.tiles li .options a, .tiles li .options span, .tiles li .owner a, .tiles li .options .link { color:white !important; cursor:pointer; }
.tiles li .options a i, .tiles li .options span i, .tiles li .options form button { width:24px; text-align:center; }
.thumbnail { width: 165px; height: 165px; margin: .5em; padding: .5em; background: white; background: white; box-shadow: 0 2px 5px rgba(0,0,0,.25); display: inline-block; vertical-align: top; cursor: pointer; }
.thumbnail > div { height: 100%; display: flex; align-items: center; justify-content: center; }
.thumbnail img { max-width: 150px; max-height: 150px; }
.toggle-nav { display: none; padding: none; border: none; background: none; color: white; cursor: pointer; float: right; }
.trust-symbols { margin: 0; padding: 0; text-align: center; }
.trust-symbols > li { max-width: 300px; list-style: none; display: inline-block; margin: 0 1em 1em; }
.trust-symbols > li > img { width: 100%; max-width: 150px; max-height: 150px; }
.width-auto { width: auto; }
