<h1>{{ site.title }}</h1>
<br>
<a
    ng-show="site.key"
    class="btn btn-primary" href="/c/{{ site.key }}"
    target="_blank"
><i class="fa fa-eye"></i> View Site</a>
<br>
<br>
<ul class="nav nav-tabs">
    <li
        ng-repeat="t in tabs"
        ng-class="{ 'active': t == tab }"
        ng-click="selectTab(t)"
        class="cursor-pointer"
    ><a>{{ t }}</a></li>
</ul>
<br>
<br>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <img ng-show="loading" src="/img/loading.gif">
        <div ng-show="!loading">
            <div ng-show="tab == 'Basic'">
                <div class="form-group">
                    <label>Company Profile</label>
                    <select
                        class="form-control width-auto"
                        ng-model="site.profile_id"
                        ng-blur="patch('profile_id', site.profile_id)"
                    >
                        <option ng-repeat="profile in profiles" value="{{ profile.id }}">{{ profile.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-blur="patch('name', site.title)" ng-model="site.title">
                </div>
                <div class="form-group">
                    <label>Tagline</label>
                    <input type="text" class="form-control" ng-blur="patch('tagline', site.tagline)" ng-model="site.tagline">
                </div>
                <div class="form-group">
                    <label>Path</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ app_url }}/</span>
                        <input type="text" class="form-control" ng-blur="patch('key', site.key)" ng-model="site.key">
                    </div>
                </div>
            </div>
            <div ng-show="tab == 'Top Section'">
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('description', site.description)" ng-model="site.description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in site.bullets"
                    class="form-group"
                >
                    <label>Bullet {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'bullets', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('bullets')"
                    >
                        <i class="fa fa-plus"></i> Add Bullet Point
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Services'">
                <div class="form-group">
                    <label>Serivces Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('services_description', site.services_description)" ng-model="site.services_description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in site.services"
                    class="form-group"
                >
                    <label>Service {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'services', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('services')"
                    >
                        <i class="fa fa-plus"></i> Add Service
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Hours'">
                <div class="form-group">
                    <label>Hours Description</label>
                    <textarea type="text" class="form-control" ng-blur="patch('hours_description', site.hours_description)" ng-model="site.hours_description"></textarea>
                </div>
                <div
                    ng-repeat="bullet in site.hours"
                    class="form-group"
                >
                    <label>Hours {{ $index + 1 }}</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-blur="updateBullet(bullet)"
                            ng-model="bullet.text"
                        >
                        <span class="input-group-addon">
                            <i
                                class="fa fa-times cursor-pointer"
                                ng-click="deleteBullet(bullet, 'hours', $index)"
                            ></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button
                        class="btn btn-default"
                        ng-click="createBullet('hours')"
                    >
                        <i class="fa fa-plus"></i> Add Hours
                    </button>
                </div>
            </div>
            <div ng-show="tab == 'Images'">
                <div cl-media></div>
            </div>
            <div ng-show="tab == 'Contact'">
                <p>Leave fields blank to use company contact information instead.</p>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" ng-blur="patch('phone', site.phone)" ng-model="site.phone">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-blur="patch('email', site.email)" ng-model="site.email">
                </div>
                <div class="form-group">
                    <label>Address Line 1</label>
                    <input type="text" class="form-control" ng-blur="patch('address_1', site.address_1)" ng-model="site.address_1">
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" ng-blur="patch('address_2', site.address_2)" ng-model="site.address_2">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" ng-blur="patch('city', site.city)" ng-model="site.city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" ng-blur="patch('state', site.state)" ng-model="site.state">
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" class="form-control" ng-blur="patch('zip', site.zip)" ng-model="site.zip">
                </div>
            </div>
        </div>
    </div>
</div>
