<div class="form-group">
    <div class="form-group">
        <button
            class="btn btn-primary"
            ng-click="create()"
        >
            <i class="fa fa-plus"></i> Create Landing Page
        </button>
    </div>
    <img ng-show="loading" src="/img/loading.gif">
    <table class="table table-striped" ng-show="!loading && sites.length > 0">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>City</th>
                <th>State</th>
                <th>Date Created</th>
                <th class="align-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="site in sites">
                <td><a href="/app/#/sites/{{ site.id }}/edit">{{ site.title }}</a></td>
                <td>{{ site.city }}</td>
                <td>{{ site.state }}</td>
                <td>{{ site.created_at }}</td>
                <td>
                    <i
                        class="fa fa-trash pull-right cursor-pointer"
                        ng-click="deleteSite(site, $index)"
                    ></i>
                </td>
                <!-- <td>{{ site.name }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
