<h1>{{ profile.name }}</h1>
<br>
<br>
<ul class="nav nav-tabs">
    <li
        ng-repeat="t in tabs"
        ng-class="{ 'active': t == tab }"
        ng-click="selectTab(t)"
        class="cursor-pointer"
    ><a>{{ t }}</a></li>
</ul>
<br>
<br>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <img ng-show="loading" src="/img/loading.gif">
        <div ng-show="!loading">
            <div ng-show="tab == 'Basic'">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" ng-blur="patch('name', profile.name)" ng-model="profile.name">
                </div>
                <div class="form-group">
                    <label>Path</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ app_url }}/</span>
                        <input type="text" class="form-control" ng-blur="patch('key', profile.key)" ng-model="profile.key">
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" class="form-control" ng-blur="patch('phone', profile.phone)" ng-model="profile.phone">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" ng-blur="patch('email', profile.email)" ng-model="profile.email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Company Website</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" ng-blur="patch('email', profile.website)" ng-model="profile.website">
                    </div>
                </div>
            </div>
            <div ng-show="tab == 'Address'">
                <div class="form-group">
                    <label>Address Line 1</label>
                    <input type="text" class="form-control" ng-blur="patch('address_1', profile.address_1)" ng-model="profile.address_1">
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" ng-blur="patch('address_2', profile.address_2)" ng-model="profile.address_2">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" ng-blur="patch('city', profile.city)" ng-model="profile.city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" ng-blur="patch('state', profile.state)" ng-model="profile.state">
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" class="form-control" ng-blur="patch('zip', profile.zip)" ng-model="profile.zip">
                </div>
            </div>
        </div>
    </div>
</div>
