<div class="form-group">
    <div class="form-group">
        <a
            class="btn btn-primary"
            href="#/profiles/create"
        >
            <i class="fa fa-plus"></i> Create Company Profile
        </a>
    </div>
    <img ng-show="loading" src="/img/loading.gif">
    <table class="table table-striped" ng-show="!loading && profiles.length > 0">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>City</th>
                <th>State</th>
                <th>Date Created</th>
                <th
                    class="align-right"
                    ng-show="profiles.length > 1"
                >Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="profile in profiles">
                <td><a href="/app/#/profiles/{{ profile.id }}/edit">{{ profile.name }}</a></td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.state }}</td>
                <td>{{ profile.created_at }}</td>
                <td ng-show="profiles.length > 1">
                    <i
                        class="fa fa-trash pull-right cursor-pointer"
                        ng-click="deleteProfile(profile, $index)"
                    ></i>
                </td>
                <!-- <td>{{ profile.name }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
