<div class="form-group">
    <label>Media</label>
    <ul class="list-group" ng-if="site.media.length > 0">
        <li class="list-group-item" ng-repeat="media in site.media">
            <i class="fa fa-times cursor-pointer pull-right" ng-click="detach(media, $index)"></i>
            <img class="xxs" if="media.type == 'Image'" ng-src="{{media.xxs}}">
            &nbsp;&nbsp;
            <select
                class="form-control width-auto inline-block"
                ng-model="media.pivot.key"
                ng-change="updateMediaPivot(media)"
            >
                <option value="" disabled>Select Type</option>
                <option ng-repeat="key in keys">{{ key }}</option>
            </select>
            &nbsp;&nbsp;
            <input
                type="text"
                class="form-control inline-block"
                style="max-width: 300px;"
                ng-model="media.pivot.text"
                ng-blur="updateMediaPivot(media)"
                placeholder="Text"
            >
            <span if="media.type !== 'Image'" ng-bind="media.title"></span>
        </li>
    </ul>
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="mediaForm()"><i class="fa fa-upload"></i> Upload</button>
        <button type="button" class="btn btn-default" ng-click="mediaLibrary()"><i class="fa fa-th-large"></i> Library</button>
    </div>

    <!-- upload media form -->
    <div id="mediaForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Upload Media<span class="x pull-right" ng-click="togglePopup('#mediaForm', false)">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <input type="file" id="files" name="media[]" multiple="true" ng-model="files">
                    <!-- <small>Max Media Size: 1M</small> -->
                </div>

                <div class="form-group" style="position: relative; left: 1.5em;">
                    <label>
                        <input type="checkbox" ng-model="library" ng-true-value="1" ng-false-value="0">
                        Add to Library
                    </label>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#mediaForm', false)">Close</button>
                <button ng-if="!loading_media" class="btn btn-primary" id="insertImage" ng-click="uploadMedia()" type="button"><i class="flaticon-upload"></i> Upload</button>
                <img src="/img/loading.gif" ng-if="loading_media">
            </div>
        </div><!-- panel -->
    </div><!-- popup -->

    <!-- media library -->
    <div id="mediaLibrary" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Media Library<span class="x pull-right" ng-click="togglePopup('#mediaLibrary', false)">&times;</span></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button
                        ng-repeat="tab in mediaTabs"
                        ng-class="{ 'selected': mediaTab.name == tab.name }"
                        ng-click="setMediaTab(tab)"
                        class="btn btn-default"
                    >{{ tab.name }}</buttton>
                </div>
                <img ng-show="loading_media" src="/img/loading.gif">
                <ul ng-show="!loading_media" class="tiles">
                    <li
                        ng-repeat="media in medias"
                        ng-click="media.selected=!media.selected; hoverOn(m); setSelected(media, $index)"
                        ng-mouseenter="hoverOn(media)"
                        ng-mouseleave="hoverOff(media)"
                    >
                        <div class="tile-highlight" ng-class="{'selected' : media.selected }"></div>
                        <img class="xs" ng-src="{{ media.xs }}">
                    </li>
                </ul>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <div class="well" ng-show="selected">
                    <dl>
                        <dt>Type:</dt>
                        <dd>{{ selected.type }}</dd>
                        <dt>URL:</dt>
                        <dd>{{ app_url }}{{ selected.url }}</dd>
                        <dt>Width:</dt>
                        <dd>{{ selected.width }}px</dd>
                        <dt>Height:</dt>
                        <dd>{{ selected.height }}px</dd>
                        <dt>Extension:</dt>
                        <dd>{{ selected.extension }}</dd>
                        <dt>File Size:</dt>
                        <dd>{{ selected.size }}</dd>
                    </dl>
                    <a ng-click="deleteMedia()" class="cursor-pointer"><i class="fa fa-trash"></i> Delete</a>
                </div>
                <button type="button" class="btn btn-default" ng-click="togglePopup('#mediaLibrary', false)">Close</button>
                <button type="button" class="btn btn-primary" ng-click="insertMedia()">Insert</button>
            </div>
        </div><!-- panel -->
    </div><!-- popup -->

</div><!-- form-group -->
