<div style="margin: 0 auto; max-width: 400px;">
    <h1 ng-show="!registering">Create Campaign</h1>
    <p>Select a landing page, determine your weekly budget, and enter your payment information so that {{ app_name }} can start running ads for you and generating leads.</p>
    <br>
    <img ng-show="loading" src="/img/loading.gif">
    <form
        data-parsley-validate
        id="payment-form"
        ng-show="!loading"
        ng-submit="getToken()"
        novalidate
    >
        <ol>
            <li>
                <h2>Campaign Details</h2>
                <div class="form-group">
                    <label>Campaign Name</label>
                    <input
                        class="form-control"
                        ng-model="campaign.name"
                        placeholder="My Campaign"
                        type="text"
                    >
                </div>
                <div class="form-group">
                    <label>Company Profile</label>
                    <select
                        class="form-control width-auto"
                        ng-change="changeProfile()"
                        ng-model="profile"
                        ng-blur="patch('profile_id', site.profile_id)"
                        ng-options="profile as profile.name for profile in profiles"
                    ></select>
                </div>
                <div class="form-group">
                    <label>Landing Page</label>
                    <select
                        class="form-control width-auto"
                        ng-blur="patch('site_id', site.site_id)"
                        ng-disabled="campaign.landing_page"
                        ng-model="site"
                        ng-options="site as site.title for site in profile.sites"
                    ></select>
                    <input
                        class="form-control margin-top-2"
                        ng-model="campaign.landing_page"
                        placeholder="Custom URL (http://example.com/landing-page)"
                        type="text"
                    >
                </div>
            </li>
            <li>
                <h2>Determine Your Budget</h2>
                <p>
                    Your first non-refundable payment will be charged immediately. A percentage will cover {{ app_name }}'s operating expenses. The majority will be invested in advertising networks. The longer your ads run, the more data will be collected and the more your results will be optimized.
                </p>
                <p>
                    You'll be charged every seven days from the time that you active a campaign. You can avoid future charges by disabling a campaign at any time, however, be aware that ads will continue to run until the end of the current payment cycle.
                </p>
                <label>Weekly Budget</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input type="number" class="form-control" ng-model="campaign.amount" placeholder="(Minimum $100)">
                </div>
                <br>
            </li>
            <li>
                <h2>Add Your Payment Method</h2>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group" id="cc-group">
                            <img style="width:100px; margin-bottom:5px;" src="https://i76.imgup.net/accepted_c22e0.png">
                            <input
                                type="text"
                                class="form-control"
                                required="required"
                                ng-model="payment.number"
                                data-parsley-type="number"
                                maxlength="16"
                                data-parsley-trigger="change focusout"
                                data-parsley-class-handler="#cc-group"
                                placeholder="Credit Card Number"
                            >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="ccv-group">
                            <i
                                style="position: relative; bottom: -5px;"
                                class="fa fa-question-circle pull-right cursor-pointer info"
                                data-toggle="popover"
                                data-content="The 3 or 4 digit number usually found on the back or corner of the card."
                            ></i>
                            <input
                                style="position: relative; bottom: -12px;"
                                type="text"
                                class="form-control"
                                required="required"
                                ng-model="payment.cvc"
                                data-parsley-type="number"
                                data-parsley-trigger="change focusout"
                                maxlength="4"
                                data-parsley-class-handler="#ccv-group"
                                placeholder="CVC"
                            >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="exp-m-group">
                            <select
                                class="form-control"
                                required="required"
                                ng-model="payment.expMonth"
                                placeholder="Exp. Month"
                            >
                                <option selected disabled value="">Exp. Month</option>
                                <option ng-repeat="month in months">{{ month }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="exp-y-group">
                            <select
                                class="form-control"
                                required="required"
                                ng-model="payment.expYear"
                                placeholder="Exp Year"
                            >
                                <option selected disabled value="">Exp. Year</option>
                                <option ng-repeat="year in years">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <button
                    ng-click="loading = true"
                    class="btn btn-primary form-control"
                    ng-disabled="
                        !payment.number
                        || !payment.cvc
                        || !payment.expMonth
                        || !payment.expYear
                        || !campaign.amount
                        || campaign.amount < 100
                    "
                >Create Campaign</button>
            </li>
        </ol>
    </form>
</div>
