<div style="margin: 0 auto; max-width: 400px;">
    <h1>
        <span ng-show="campaign.name">
            {{ campaign.name }}
        </span>
        <span ng-show="!campaign.name">
            Campaign {{ campaign.id }}
        </span>
    </h1>
    <img ng-show="loading" src="/img/loading.gif">
    <form
        data-parsley-validate
        id="payment-form"
        ng-show="!loading"
        ng-submit="getToken()"
        novalidate
    >
        <div class="form-group">
            <label>Status</label>
            <select
                class="form-control width-auto"
                ng-change="updateCampaign('active', campaign.active)"
                ng-model="campaign.active"
                ng-options="status.value as status.name for status in statuses"
            ></select>
        </div>
        <div class="form-group">
            <label>Campaign Name</label>
            <input
                class="form-control"
                ng-model="campaign.name"
                ng-blur="updateCampaign('name', campaign.name)"
                placeholder="My Campaign"
                type="text"
            >
        </div>
        <div class="form-group">
            <label>Company Profile</label>
            <select
                class="form-control width-auto"
                ng-change="changeProfile()"
                ng-model="profile"
                ng-blur="updateCampaign('profile_id', campaign.profile_id)"
                ng-options="profile as profile.name for profile in profiles"
            ></select>
        </div>
        <div class="form-group">
            <label>Landing Page</label>
            <select
                class="form-control width-auto"
                ng-blur="updateCampaign('site_id', campaign.site_id)"
                ng-disabled="campaign.landing_page"
                ng-model="site"
                ng-options="site as site.title for site in profile.sites"
            ></select>
            <input
                class="form-control margin-top-2"
                ng-blur="updateCampaign('landing_page', campaign.landing_page)"
                ng-model="campaign.landing_page"
                placeholder="Custom URL (http://example.com/landing-page)"
                type="text"
            >
        </div>
        <p>
            You'll be charged every seven days from the time that you active a
            campaign. Your money will be invested in advertisements. You can avoid
            future charges by disabling a campaign at any time, however, ads will
            continue to run until the end of the current payment cycle.
        </p>
        <label>Weekly Budget</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <input
                class="form-control"
                ng-model="campaign.amount"
                ng-blur="updateCampaign('amount', campaign.amount)"
                placeholder="(Minimum $100)"
                type="number"
            >
        </div>
    </form>
</div>
