<div class="form-group">
    <div class="form-group">
        <a
            class="btn btn-primary"
            href="#/campaigns/create"
        >
            <i class="fa fa-plus"></i> Create Campaign
        </a>
    </div>
    <img ng-show="loading" src="/img/loading.gif">
    <table class="table table-striped" ng-show="!loading && campaigns.length > 0">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Date Created</th>
                <th
                    class="align-right"
                    ng-show="campaigns.length > 1"
                >Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in campaigns">
                <td>
                    <a href="/app/#/campaigns/{{ campaign.id }}/edit">
                        <span ng-show="campaign.name">
                            {{ campaign.name }}
                        </span>
                        <span ng-show="!campaign.name">
                            Campaign {{ campaign.id }}
                        </span>
                    </a>
                </td>
                <td>{{ campaign.created_at }}</td>
                <td ng-show="campaigns.length > 1">
                    <i
                        class="fa fa-trash pull-right cursor-pointer"
                        ng-click="deleteCampaign(campaign, $index)"
                    ></i>
                </td>
                <!-- <td>{{ campaign.name }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
