<div class="col-md-4" ng-show="user.role.name == 'admin'">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-bar-chart"></i> Statistics</h2>
        </div>
        <table class="table table-striped" ng-show="!loadingStats">
            <tr ng-repeat="(key, value) in stats">
                <th>{{ key }}</th>
                <th>{{ value }}</th>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-4" ng-show="user.role.name == 'member'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-th-list"></i> Overview</h3>
        </div>
        <table class="table table-striped" ng-show="!loadingStats">
            <tr ng-repeat="(key, value) in stats" ng-show="user.has_profie || key == 'Company Profiles'">
                <th>
                    <span ng-show="value.count > 0">{{ key }}</span>
                    <span ng-show="value.count == 0">Get started by creating a {{ value.singular }}.</span>
                </th>
                <td ng-show="value.count > 0">
                    <a href="#/{{ value.path_index }}">{{ value.count }}</a>
                </td>
                <td>
                    <a
                        ng-show="value.path && value.count == 0"
                        class="btn btn-primary"
                        href="#/{{ value.path }}"
                    ><i class="fa fa-plus"></i> Create {{ value.singular }}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
